<!DOCTYPE html>
<html id="html" lang="en" ng-app="Beenotes" ng-controller="MainController">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Beenotes - {{title}} </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/index.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                      Beenotes
                    </a>
                </li>
                <li>
                <a ng-class="{'active': isActive('index')}" href="#" ng-click="pgHome();">
		  <span class="fa fa-home fa-1g"></span>
		  Home
		</a>
                </li>
                <li ng-repeat="item in notebooks">
                  <a ng-class="{active: isActive(item.id)}" href="#"
		     ng-click="openNotebook(item.id);">
		    <span class="fa fa-file-text-o fa-1g"></span>
		    {{item.name}}
		  </a>
                </li>
                <li>
                  <a ng-class="{active: isActive('create')}" href="#"
		     ng-click="pgCreateNotebook();">
		    <span class="fa fa-plus fa-1g"></span>
		    Create
		  </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
	    <!-- Loading View -->
	    <div class="row" ng-show="loading_vis">
	      <div class="col-lg-12">
		<h3>{{message}}</h3>
		<img id="loading" src="images/loading.gif"/>
	      </div>
	    </div>
            
	    <!-- Welcome View -->
            <div class="row" ng-show="welcome_vis">
              <div class="col-lg-12">
                <h1>Welcome!</h1>
                <p>{{message}}</p>
                <a href="#" ng-click="pgCreateNotebook()" class="btn btn-default">Create Notebook</a>
              </div>
            </div>

	    <!-- Notebook View -->
	    <div class="row nbmenu" ng-show="notebook_vis">
	      <div class="col-lg-7">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" ng-class="{'btn':
						  true,'btn-default' :
						  true,'disabled': isFirstNote()}" ng-click="mnPrev()"><span class="glyphicon glyphicon-arrow-left" aria-hiden="true"></span> Previous</button>
		  <button type="button" class="btn btn-default" ng-click="mnCreate()"><span class="fa fa-file-text-o fa-1g"></span> Create </button>
		  <button type="button" class="btn btn-default" ng-click="mnEdit()">
		    <span class="fa fa-pencil-square-o"></span>
		    Edit
		  </button>
		  <button type="button" ng-class="{'btn' : true,
						  'btn-default': true, 
						  'disabled': isLastNote()}"
			  ng-click="mnNext()">
		    <span class="glyphicon glyphicon-arrow-right"></span>
		    Next
		  </button>
		</div> <!-- btn-group -->
	      </div> <!-- col-lg-6 -->
	      <div class="col-lg-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search for...">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button">Go!</button>
		  </span>
		</div><!-- /input-group -->
	      </div><!-- /.col-lg-6 -->
	    </div> <!-- row -->

	    <div class="row nbvis" ng-show="notebook_vis">
	      <div class="col-lg-12">
		<div id="path">
		  <a href="#" ng-click="getYears()">{{current}}</a> /
		  <a href="#" ng-click="getMonths(year)">{{year}}</a> /
		  <a href="#" ng-click="getDays(year, month)">{{month}}</a> /
		  <a href="#" ng-click="getNotes(year, month, day)"> {{day}}</a> / {{nbtitle}}
		</div>
		<h1>{{nbtitle}}</h1>
		<div id="note"> </div>
	      </div>
	    </div>

	    <!-- Edit -->
	    <div class="row" ng-show="edit_vis">
	      <div class="col-lg-l6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="mnViewHtml()">
		    <span class="glyphicon glyphicon-eye-open"></span>
		  </button>
		  <button type="button" class="btn btn-default" ng-click="btnHeader()">
		    <span class="glyphicon glyphicon-header"></span></button>
		  <button type="button" class="btn btn-default" ng-click="btnBold()">
		    <span class="fa fa-bold"></span>
		  </button>
		  <button type="button" class="btn btn-default">
		    <span class="fa fa-italic"></span>
		  </button>
		  <button type="button" class="btn btn-default">
		    <span class="fa fa-list-ul"></span></button>
		  <button type="button" class="btn btn-default">
		    <span class="fa fa-list-ol"></span></button>
		  <button type="button" class="btn btn-default">
		    <span class="fa fa-link"></span></button>
		  </button>
		  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span></button>
		</div>
		{{message}}
	      </div>
	    </div>
	    <div class="row nt_title" ng-show="edit_vis">
	      <div class="col-lg-11">
		<div class="input-group">
		  <span class="input-group-addon">Title</span>
		  <input type="text" class="form-control" name="nt_title" ng-model="nbtitle" placeholder="Note Title">
		</div>
	      </div>
	    </div>
	    <div class="row nt_content" ng-show="edit_vis">
	      <div class="col-lg-12">
		<textarea name="editor" id="editor" ng-model="markdown" placeholder="Enter markdown text here"></textarea>
	      </div>
	    </div>
	    <!-- Navigate View -->
	    <div class="row" ng-show="navnotes_vis">
	      <div class="col-lg-12">
		<h3>{{navigation}}</h3>

		<ul>
		  <li ng-repeat="item in navitem">
		    <a href="#" ng-click="openNote(item.ix);">
		      {{item.note.title}}
		    </a>
		  </li>
		  <li ng-repeat="item in navmonth">
		    <a href="#" ng-click="getNotes(item.y, item.m, item.day);">
		      {{item.day}}
		    </a>
		  </li>
		  <li ng-repeat="item in navyear">
		    <a href="#" ng-click="getDays(item.y, item.month);">
		      {{item.name}}
		    </a>
		  </li>
		  <li ng-repeat="item in navall">
		    <a href="#" ng-click="getMonths(item);">
		      {{item}}
		    </a>
		  </li>
		</ul>
	      </div>
	    </div>
	    <!-- Create View -->
	    <div class="row" ng-show="createn_vis">
	      <div class="col-md-6">
		<h1>Create Notebook!</h1>
		<!--<form class="form-horizontal" name="login">-->
		<div id="message">
		  <p>{{message}}</p> 
		</div>
		<fieldset>
		  <div class="form-group">
		    <div class="col-lg-10">
		      <input style="width:300px;height:30px" type="text" class="form-control" name="nb_name" placeholder="Name" ng-model="nb_name">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-10">
		      <input style="width:300px;height:30px" type="text" class="form-control" name="nb_desc" ng-model="nb_desc" placeholder="Description">
		    </div>
		  </div>  
		  <div class="form-group">
		    <div class="col-lg-10 col-lg-offset-2">
		      <button type="Aceptar" name="a" id="a" class="btn btn-primary" ng-click="createNotebook(nb_name, nb_desc)">Create</button>
		    </div>
		  </div>
		</fieldset>
		<!--</form>-->
	      </div>
	    </div>
              
            </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->

    <!--[> Menu Toggle Script <]-->
    <!--<script>-->
    <!--$("#menu-toggle").click(function(e) {-->
        <!--e.preventDefault();-->
        <!--$("#wrapper").toggleClass("toggled");-->
    <!--});-->
    <!--</script>-->

</body>

</html>
